.nav {
  background-color: #3E94D1;
}
.nav__ul {
  font-size: calc(10px + 2vmin);
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.nav__li {
  margin-bottom: 0.5em;
  cursor: pointer;
  color: #fff;
  transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.nav__li_users {
  margin-top: 1em;
}
.nav__li a {
  color: inherit;
  text-decoration: none;  
}
.nav__li a.active {
  color: #03406A;
  /* pointer-events: none; */
}
.nav__li:hover {
  color: #03406A;
}
.nav {
  grid-area: n;
}

.friends {
  padding: 10px 10px 50px;
}
.friends h4 {
  color: #fff;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 12px;
}
.friends_list {
  display: flex;
  justify-content: space-between;
}
.friends_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3px;
}
.friends_avatar img {
  max-width: 100%;
  height: 100%;
}
.friends_item {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  width: 50px;
}
.friends_item + .friends_item {
  margin-left: 5px;
}
.friends_title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.friends_name {
  font-size: 13px;
  /*text-overflow: ellipsis;*/
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
.friends_count {
  font-size: 0.8em;
  margin-left: 5px;
  opacity: 0.8;
}