.avatar {
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 40px;
}
.content__info {
  display: flex;
  align-items: flex-start;
}
.content__info_name {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content__info_field {
  margin-bottom: 5px;
}
.banner {
  width: 100%;
}