.wrapper {
  display: grid;
  width: 1024px;
  margin: 50px auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 'h h' 'n с';
}
.content {
  grid-area: с;
  padding-top: 10px;
  padding-left: 10px;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.2s;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  background-color: #4095c6;
}
@media all and (max-width:30em) {
  button {
    display:block;
    margin: 0.2em auto;
  }
}